# Machine Learning - Classification: Predict

#### Team members : Ntokozo Hlatshwayo, Sizwe Khumalo

In [1]:

#importing libraries
import numpy as np
import pandas as pd
%matplotlib inline

# for all NLP related operations on text
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import *
from nltk.classify import NaiveBayesClassifier
from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
import string

nltk.download('stopwords')
nltk.download('wordnet')
stopwords = set(stopwords.words("english"))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\petro\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\petro\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [4]:
#importing datasets
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test_with_no_labels.csv')

In [5]:
#datasets summary
display(train_df.head())
display(test_df.head())

   sentiment                                            message  tweetid
0          1  PolySciMajor EPA chief doesn't think carbon di...   625221
1          1  It's not like we lack evidence of anthropogeni...   126103
2          2  RT @RawStory: Researchers say we have three ye...   698562
3          1  #TodayinMaker# WIRED : 2016 was a pivotal year...   573736
4          1  RT @SoyNovioDeTodas: It's 2016, and a racist, ...   466954

                                             message  tweetid
0  Europe will now be looking to China to make su...   169760
1  Combine this with the polling of staffers re c...    35326
2  The scary, unimpeachable evidence that climate...   224985
3  @Karoli @morgfair @OsborneInk @dailykos \nPuti...   476263
4  RT @FakeWillMoore: 'Female orgasms cause globa...   872928

In [21]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15819 entries, 0 to 15818
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sentiment  15819 non-null  int64
 1   message    15819 non-null  object
 2   tweetid    15819 non-null  int64
dtypes: int64(2), object(1)
memory usage: 370.9+ KB

The train datasets contains 3 columns of all have no null values.

In [11]:
#removing punctuations and Numbers and Special characters
train_df['message'] = train_df['message'].str.replace("[^a-zA-Z# ]", "")
test_df['message'] = test_df['message'].str.replace("[^a-zA-Z# ]", "")

<ipython-input-11-8f4581e3623c>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  train_df['message'] = train_df['message'].str.replace("[^a-zA-Z# ]", "")
<ipython-input-11-8f4581e3623c>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  test_df['message'] = test_df['message'].str.replace("[^a-zA-Z# ]", "")

In [17]:
# function to remove punctuations
def remove_punctuation(message):
    return ''.join([l for l in message if l not in string.punctuation])

In [19]:
# removing punctuations in datasets
train_df['message'] = train_df['message'].apply(remove_punctuation)
test_df['message'] = test_df['message'].apply(remove_punctuation)

In [20]:
train_df

       sentiment                                            message  tweetid
0              1  PolySciMajor EPA chief doesnt think carbon dio...   625221
1              1  Its not like we lack evidence of anthropogenic...   126103
2              2  RT RawStory Researchers say we have three year...   698562
3              1  TodayinMaker WIRED   was a pivotal year in the...   573736
4              1  RT SoyNovioDeTodas Its  and a racist sexist cl...   466954
...          ...                                                ...      ...
15814          1  RT ezlusztig They took down the material on gl...    22001
15815          2  RT washingtonpost How climate change could be ...    17856
15816          0  notiven RT nytimesworld What does Trump actual...   384248
15817         -1  RT sarasmiles Hey liberals the climate change ...   819732
15818          0  RT ChetCannon kurteichenwalds climate change e...   806319

[15819 rows x 3 columns]